.app {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vmin;

    .search-section {
      position: relative;

      .search-bar {
        position: relative;
        margin-bottom: var(--margin-bottom);
        padding: 1rem;
        border: none;
        border-bottom: 0.2rem solid var(--color-text-light);
        outline: none;
        background: none;
        color: var(--color-text-light);
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        z-index: 2;

        &::placeholder {
          color: transparent;
        }
      }

      .name-placeholder {
        color: var(--color-text-light);
        font-weight: 600;
        z-index: 1;

        &::after {
          content: "Name";
          position: absolute;
          top: 1rem;
          left: 7.8rem;
          transition: all 0.3s;
        }
      }

      .search-bar:focus + .name-placeholder::after,
      .search-bar:not(:placeholder-shown) + .name-placeholder::after {
        top: -2rem;
        left: 8.5rem;
        font-size: 1.3rem;
      }
    }

    .search-button {
      padding: 1rem 2rem;
      background-image: var(--orange-gradient);
      border: none;
      border-radius: 2rem;
      transition: all 0.2s;
      color: var(--color-text-light);
      font-weight: 600;
      letter-spacing: var(--letter-spacing);
      font-family: "Montserrat", sans-serif;

      &:hover {
        cursor: pointer;
        transform: translateY(-0.3rem);
        box-shadow: 0 0.8rem 1.5rem rgba(#000, 0.3);
      }

      &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.3);
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        pointer-events: none;
      }
    }
  }

  .main {
    .error {
      color: var(--color-text-light);
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: var(--letter-spacing);
    }
  }

  .loader {
    width: 5rem;
    height: 5rem;
    border: 1rem solid var(--color-text-light);
    border-top: 1rem solid var(--color-temp-cold-blue);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
