:root {
  --color-border: #2f4f4f;
  --color-text-light: #fafafa;
  --color-text-dark: #313131;
  --color-temp-cold-blue: #1184e8;
  --color-temp-hot-red: #ff3d3d;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-image: url("./assets//images/background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
